
nav{
    width: 100%;
    padding: 20px 0px;
    background-color: transparent;
    position: fixed;
    top: 0;
    transition: all .5s ease;
    z-index: 999;
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            display: flex;
            align-self: center;
            justify-content: center;
            gap: 45px;
            a{
                color: white;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    width: 0px;
                    height: 2px;
                    background-color: white;
                    bottom: -5px;
                    left: 0;
                    transition: all .5s ease;
                }
                &:hover::after{
                    width: 100%;
                }
            }
            a.active{
                color: orange;
            }
            button{
                width: auto;
                padding: 6px 18px;
                background-color: transparent;
                border: 1px solid rgb(208, 202, 202);
                color: rgb(208, 202, 202);
                border-radius: 20px;
                cursor: pointer;
                display: none;
            }
        }
        .icons{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .search{
                border: 1px solid rgb(255, 255, 255);
                padding: 5px 10px 5px 10px;
                width: 0px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transform: scaleX(0);
                transition: all .5s ease;
                input{
                    border: none;
                    background-color: transparent;
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.979);
                    &::placeholder{
                        color: rgba(255, 255, 255, 0.333);
                    }
                }
            }
            .search.active{
                transform: scaleX(1);
                width: 200px;
            }
            .icon{
                font-size: 20px;
                color: white;
                cursor: pointer;
                transition: all .3s ease;
                &:hover{
                    transform: translateY(-5px);
                }
            }
            .icon.search_icon{
                display: none;
            }
            .btn{
                padding: 6px 25px;
                background-color: black;
                color: white;
                cursor: pointer;
                border: 2px solid black;
                border-radius: 20px;
                transition: all .3s ease;
                &:hover{
                    color: black;
                    background-color: transparent;
                }
            }
        }
    }
}

.nav.active{
    background-color: white;
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.212) 0px 4px 12px;
    ul{
        a{
            color: black;
            &::after{
                background-color: black;
            }
        }
    }
    .icons{
        .icon{
            color: black;
        }
        .search{
            border-color: black;
            input{
                color: black;
                &::placeholder{
                    color: rgba(0, 0, 0, 0.738);
                }
            }
        }
    }
}